<mat-card style="background: rgb(205, 249, 249);
  position: fixed;z-index: 10;width: 100%;padding: 0px;height: 25vh;" [ngStyle]="{'height': ((stateSession.page$ | async) == 'home') ? '25vh' : '8vh' }"  >
  <button style="position: fixed; top:1vh; left:1vw;z-index:10; background: transparent" mat-icon-button
    (click)="open()">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <div fxLayout="column" fxLayoutAlign="center center" style="padding-top:5px; z-index: 9; height: 100%; max-height: 8vh;
    background: rgb(205, 249, 249);
        border-bottom: solid 1px rgba(0,0,0,.12);">

    <img *ngIf="(stateSession.page$ | async) == 'home'" mat-list-item alt="todays deals" src="assets/images/onlytopdeals_logo_trans.png"
      style="width: 50%;padding: 10px;max-width: 300px;">
    <app-searchinput></app-searchinput>

  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" style="position: fixed; top:1vh; right:2vw;z-index:10; background: transparent">
      <img [src]="(stateSession.country$ | async)?.image">
    </button>
    <mat-menu #menu="matMenu">
      <button fxLayout="row" style="line-height: 35px" mat-menu-item (click)="changeCountry(cnt)" *ngFor="let cnt of stateSession.countries" >
       <img src="{{cnt.image}}" style="margin-right: 5px;"> <div>{{cnt.name}} </div> 
      </button>   
    </mat-menu>

</mat-card>