
    <div fxLayout="column" fxFlex="100"  
    fxLayout="column"
    fxLayoutAlign="center center" fxFlex="100" >
    
        <!-- <img src="assets/images/onlytopdeals.png" [ngStyle.xs]="{'width.vw': 80}" [ngStyle.gt-xs]="{'width.vw': 33}"> -->

        <mat-toolbar fxLayoutAlign="center center" style="width: 80vw;background: none"> 
            <h1 style="font-size: 1.3em;
            font-weight: 600;">Contact Us</h1>
            </mat-toolbar>

        <mat-card class="example-card" fxLayoutAlign="center center"  [ngStyle]="{'width.vw': 80}" >

          <mat-card-content fxLayout="column" fxLayoutAlign="center center">


            <p style=" text-align: center;">
                We’d love to hear from you!!
            </p>
            <p style=" text-align: center;">
                Please share your feedback, suggestion or ask any question. 
            </p>
            <p style=" text-align: center;">
                Email us at <b><a href="mailto:onlytopdeals@outlook.com">onlytopdeals@outlook.com</a></b>, 
                we will get back to you.
                <!-- <a href="https://www.onlytopdeals.com">OnlyTopDeals</a> -->
            </p>
      
            <!-- <p fxLayoutAlign="center">OnlyTopDeals (v Beta)</p> -->
          </mat-card-content>
        </mat-card>
     

    </div>


