<!-- <form [formGroup]="reviewFormGroup">
    <mat-card-title fxLayoutAlign="center"> Review </mat-card-title>
    <mat-card>
        

          <div fxLayout="column">
             Rating <star-rating starType="svg" [rating]="'0'" size="medium" [readOnly]="false"
              [showHalfStars]="true"></star-rating>
              <mat-form-field>
                  <textarea matInput placeholder="comment" type="textarea" formControlName="Comment" required></textarea>
               </mat-form-field>               
            </div>
     </mat-card>     
     <div style="padding-top:10px" fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button  mat-dialog-close >Cancel</button>
        <button mat-raised-button color="primary" >Submit</button>
      </div>
</form> -->
