<div fxLayout="row" fxLayoutAlign="space-between" >
    <div style="padding-bottom:10px;font-size: smaller;"><a routerLink="/">Home </a> / <a
        routerLink="/search/{{stateSearch.compareProducts[0]?.category}}">{{stateSearch.compareProducts[0]?.category}}</a> /
      {{stateSearch.compareProducts[0]?.title}} <b>vs</b> {{stateSearch.compareProducts[1]?.title}} </div>
      <button mat-icon-button fxHide.gt-xs routerLink="/search/{{stateSearch.compareProducts[0]?.category}}" >
        <fa-icon [icon]="['fas', 'list']"></fa-icon>  
      </button>
    </div>



    <table style="width:100%;background-color:lightcyan;">
        <tr>
          <th>Product</th>
          <td *ngFor="let d of stateSearch.compareProducts">
            <img src="{{d.picture}}" width="50%" style="max-width: 80px">
            
            <div><b>{{d.title}}</b></div>
         
          </td>  
        </tr>
        <tr>
          <th>Brand</th>
          <td *ngFor="let d of stateSearch.compareProducts">{{d.brand}}</td> 
        </tr>
        <tr>
          <th>Rating</th>
          <td *ngFor="let d of stateSearch.compareProducts"><div fxLayout="row" fxLayoutAlign="center"><star-rating starType="svg" [rating]="d.avgRating" size="medium" [readOnly]="true"
            [showHalfStars]="true"></star-rating>
          {{d.avgRating}} </div> </td> 
        </tr>
        <tr>
            <th>Price</th>
            <td *ngFor="let d of stateSearch.compareProducts">{{d.price}}</td> 
          </tr>
        <tr  *ngFor="let p of stateSearch.compareProducts[0].features; let i = index">
          <th>{{p.key}}</th>
          <td *ngFor="let d of stateSearch.compareProducts">{{d.features[i].value}}</td>
        </tr>
      </table>


