table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 2px solid lightgray;
    text-align: center;  
  }
 td{
    padding: 10px 0px;
  }
  th{
    padding:10px 0px;
    background-color:rgb(240, 240, 240);
  }