<mat-card  class="compare"  style="background-color:lightcyan;" [ngStyle.xs]="{'padding-top.px': 50}" >


    <table style="width:100%">
        <tr>
          <th>Product</th>
          <td *ngFor="let d of stateSearch.compareProducts">
            <img src="{{d.picture}}" width="50%">
            <div>{{d.title}}</div>
          </td>  
        </tr>
        <tr>
          <th>Brand</th>
          <td *ngFor="let d of stateSearch.compareProducts">{{d.brand}}</td> 
        </tr>
        <tr>
            <th>Price</th>
            <td *ngFor="let d of stateSearch.compareProducts">{{d.price}}</td> 
          </tr>
        <tr  *ngFor="let p of stateSearch.compareProducts[0].features; let i = index">
          <th>{{p.key}}</th>
          <td *ngFor="let d of stateSearch.compareProducts">{{d.features[i].value}}</td>
        </tr>
      </table>


</mat-card>