<div  fxLayout="row" fxLayoutAlign="center" [fxFlex.xs]="100" [fxFlex.gt-lg]="80" style="margin: 0 auto;" >
  <mat-card class="search scoll" fxLayout="column" [fxFlex.xs]="100" [fxFlex.gt-xs]="40" 
  fxLayoutAlign="start" style="overflow-y:scroll;height: 92vh;max-width: 600px"
  [ngStyle.xs]="{'display': ((stateSession.page$| async) == 'search' ? 'block' : 'none')}"
 >
  <app-resultlist  ></app-resultlist>
</mat-card >
  <div class="scoll"  [fxFlex.gt-xs]="60" 
  style="overflow-y:scroll;height: 92vh;background: white" 
  [ngStyle.xs]="{'display': ((stateSession.page$| async) == 'detail' ? 'block' : 'none')}">
    
   <app-detail></app-detail>
</div>
  <div class="scoll" *ngIf="stateSearch.compareProducts.length > 0" [fxFlex.gt-xs]="60" 
    style="overflow-y:scroll;height: 92vh;background: white" 
      [ngStyle.xs]="{'display': ((stateSession.page$| async) == 'compare' ? 'block' : 'none')}">
   <app-compare></app-compare>
  </div>
</div>

