<div fxLayout="column" fxLayoutAlign="center center" >
    <img mat-list-item alt="todays deals" src="assets/images/onlytopdeals_logo.png" style="width: 170px;height: 60px;">
      <h3 style="margin:10px"> Login With </h3>

      <button mat-raised-button class="social-icon" style="background-color:blueviolet;width:130px;color: white" (click)="tryFacebookLogin()">
        <i class="fab fa-facebook-f icons-padding"></i>Facebook</button>

      or

      <button mat-raised-button class="social-icon" style="background-color:red;width:130px;color: white" (click)="tryGoogleLogin()">
        <i class="fab fa-google-plus-g icons-padding"></i>Google</button>

      or

      <button mat-raised-button class="social-icon" style="background-color: #55ACEE;width:130px;color: white" (click)="tryTwitterLogin()">
        <i class="fab fa-twitter icons-padding"></i>Twitter</button>

  </div>
