<div fxLayout="column" fxLayoutAlign="space-between" style="background:white" fxLayoutGap="10px">


<mat-card class="tab-content" style="padding: 16px;">
    <mat-card-title style="text-align: center;" fxLayout="row" fxLayoutAlign="space-between">
        <div>Specifications</div>
        <button (click)="tabSelect(1)" mat-stroked-button >Show More</button>
    </mat-card-title>
    <mat-card-content>
      <app-feature></app-feature>
    </mat-card-content>
    <!-- <mat-card-actions fxLayout="row" fxLayoutAlign="center">
        <button (click)="tabSelect(1)" mat-raised-button style="background-color: #0094e5;color:white">Show More</button>
    </mat-card-actions> -->
</mat-card>
<mat-card *ngIf="stateSearch.selectedProduct.deals" class="tab-content" style="padding: 16px;">
    <!-- <mat-card-title style="text-align: center;">Deals</mat-card-title> -->
    <mat-card-title style="text-align: center;" fxLayout="row" fxLayoutAlign="space-between">
        <div>Deals</div>
        <button (click)="tabSelect(2)" mat-stroked-button >Show More</button>
    </mat-card-title>
    <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 10px">
   <app-deal></app-deal>
</mat-card-content>
<!-- <mat-card-actions fxLayout="row" fxLayoutAlign="center">
    <button (click)="tabSelect(2)" mat-raised-button style="background-color: #0094e5;color:white">Show More</button>
</mat-card-actions> -->
</mat-card>
<mat-card *ngIf="stateSearch.selectedProduct.reviews" class="tab-content" style="padding: 16px;">
    <!-- <mat-card-title style="text-align: center;">Reviews</mat-card-title> -->
    <mat-card-title style="text-align: center;" fxLayout="row" fxLayoutAlign="space-between">
        <div>Reviews</div>
        <button (click)="tabSelect(3)" mat-stroked-button >Show More</button>
    </mat-card-title>
    <mat-card-content fxLayout="row wrap"  fxLayoutAlign="center center" style="padding-top: 10px" >
      <app-review style="width: 100%"></app-review>
      </mat-card-content>  
      <!-- <mat-card-actions fxLayout="row" fxLayoutAlign="center">
          <button (click)="tabSelect(3)" mat-raised-button style="background-color: #0094e5;color:white">Show More</button>
      </mat-card-actions> -->
</mat-card>
<mat-card *ngIf="stateSearch.selectedProduct.videos" class="tab-content" style="padding: 16px;">
    <!-- <mat-card-title style="text-align: center;">Videos</mat-card-title> -->
    <mat-card-title style="text-align: center;" fxLayout="row" fxLayoutAlign="space-between">
        <div>Videos</div>
        <button (click)="tabSelect(4)" mat-stroked-button >Show More</button>
    </mat-card-title>
    <mat-card-content fxLayout="row wrap"  fxLayoutAlign="center center" style="padding-top: 10px" >
<app-video style="width: 100%"></app-video>
      </mat-card-content> 
      <!-- <mat-card-actions fxLayout="row" fxLayoutAlign="center">
          <button (click)="tabSelect(4)" mat-raised-button style="background-color: #0094e5;color:white">Show More</button>
      </mat-card-actions> -->
</mat-card>
<mat-card *ngIf="stateSearch.selectedProduct.images" class="tab-content" style="padding: 16px;">
    <!-- <mat-card-title style="text-align: center;">Images</mat-card-title> -->
    <mat-card-title style="text-align: center;" fxLayout="row" fxLayoutAlign="space-between">
        <div>Images</div>
        <button (click)="tabSelect(5)" mat-stroked-button >Show More</button>
    </mat-card-title>
    <mat-card-content fxLayout="row wrap"  fxLayoutAlign="center center" style="padding-top: 10px" >
       <app-image></app-image>
      </mat-card-content>    
      <!-- <mat-card-actions fxLayout="row" fxLayoutAlign="center">
          <button (click)="tabSelect(5)" mat-raised-button style="background-color: #0094e5;color:white">Show More</button>
      </mat-card-actions> -->
</mat-card>



</div>