<mat-card class="tab-content">
    <!-- <p *ngFor="let p of _detail.properties" >
      <b>{{ p.key }} : </b> {{ p.value}}
    </p> -->
       <mat-table [dataSource]="_detail.features">
          <!-- User name Definition -->
          <ng-container cdkColumnDef="key">
            <mat-header-cell *cdkHeaderCellDef> key </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> <b> {{row.key}} </b> </mat-cell>
          </ng-container>

          <!-- Age Definition -->
          <ng-container cdkColumnDef="value">
            <mat-header-cell *cdkHeaderCellDef> value </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.value}} </mat-cell>
          </ng-container>

         <!-- Header and Row Declarations -->
          <mat-row *cdkRowDef="let row; columns: ['key', 'value']"></mat-row>
        </mat-table>

  </mat-card>
