<!-- <form [formGroup]="imageFormGroup">
    <mat-card-title fxLayoutAlign="center"> Image </mat-card-title>
    <mat-card>
        

          <div fxLayout="column">
              <mat-form-field>
                  <textarea matInput placeholder="Image Link" type="url" formControlName="link" required></textarea>
                </mat-form-field>
                  Or
                <mat-form-field>
                  <input matInput placeholder="Upload" formControlName="link" >
                  <button mat-raised-button matSuffix >Upload</button>
                </mat-form-field>
            </div>
     </mat-card>     
     <div style="padding-top:10px" fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button  mat-dialog-close >Cancel</button>
        <button mat-raised-button color="primary" >Submit</button>
      </div>
</form> -->
