<mat-form-field appearance="outline" class="search-input" style="max-height: 50px;min-width: 50vw;margin:10px">

    <input name="searchInput" id="searchInput" type="text" placeholder="Laptops, Smartphones, Apple, Samsung.. " matInput
      [formControl]="searchKeyword"  [matAutocomplete]="auto"
      (click)="clear()" />
    <div matPrefix><b>Top 10 &nbsp;</b> </div>
    <fa-icon matSuffix [icon]="['fas', 'search']" ></fa-icon> 
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected()">
      <mat-option *ngFor="let option of (filteredOptions | async)" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
