
<mat-form-field appearance="outline" class="search-input" style="min-width: 50vw;">

    <input id="searchInput" type="text"  matInput placeholder="Laptop, Smartphone, etc. "
      [formControl]="searchKeyword"  [matAutocomplete]="autoGroup"
      (click)="clear()" />
    <div matPrefix><b>Top 10 &nbsp;</b> </div>
    <!-- <button matSuffix (click)="filter()" style="background: white;border: none;"><fa-icon  [icon]="['fas', 'sliders-h']" ></fa-icon> </button>  -->
    <!-- <button matSuffix (click)="search()"> <fa-icon  [icon]="['fas', 'search']" size="1x"></fa-icon> </button> -->
    <fa-icon (click)="search()" matSuffix [icon]="['fas', 'search']" size="1x"></fa-icon>
    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="selected()">
        <mat-optgroup *ngFor="let g of filteredOptions | async" [label]="g.group">
          <mat-option *ngFor="let option of g.categories" [value]="option">
            {{ option }}
          </mat-option>
      </mat-optgroup>

    </mat-autocomplete>
  </mat-form-field>
