<div *ngIf="!stateSession.application" fxLayout="row" fxLayoutAlign="center" style="padding: 50px;">
    <img src="/assets/images/loadloop.gif" style="width: 50px">
</div>
<div *ngIf="stateSession.application">
  <div style="background-color:white; padding:15px;" fxLayout="column" fxLayoutAlign="center stretch"
    fxLayoutGap="10px">

    <span fxLayoutAlign="center center">
      <h3>Trending Categories</h3>
    </span>
    <div fxLayout="row center" fxLayoutAlign="space-evenly" [ngStyle.gt-sm]="{'width.%': 80, 'align-self': 'center'}">
      <a *ngFor="let c of stateSession.application.categories" [routerLink]="[c.link]">
        <mat-card fxLayout="column" fxLayoutAlign="center" fxFlex="1 1 150px"
          style="padding:10px;background: #fafafa;margin:5px">
          <div style="text-align: center;margin: 10px;">
            <img src="{{c.image}}" alt="best laptops 2019" style="height: 60px;">
          </div>
          <span style="text-align: center;font-weight: bold"> {{c.title}} </span>


        </mat-card>
      </a>
    </div>

  </div>

  <!-- Deals -->
  <div style="background-color:white; padding:15px;" fxLayout="column" fxLayoutAlign="center stretch"
    fxLayoutGap="10px">

    <span fxLayoutAlign="center center">
      <h3>Top Deals</h3>
    </span>
    <div fxLayout="row center" fxLayoutAlign="space-evenly" [ngStyle.gt-sm]="{'width.%': 80, 'align-self': 'center'}">
      <a *ngFor="let d of stateSession.application.deals" [routerLink]="[d.link]">
        <mat-card fxLayout="row" fxLayoutAlign="center" fxFlex="1 1 230px"
          style="padding:0;background: #fafafa;margin:10px">
          <div style="text-align: center;margin: 10px;">
            <img src="{{d.image}}" alt="best laptops 2019" width="100px">
          </div>
          <div fxLayout="column">
            <span style="text-align: center;font-weight: bold; margin: 10px;"> {{d.title}} </span>
            <span style="text-align: center;font-weight: bold; margin: 10px;"> <s
                style="font-size: small;">${{d.actualPrice}}</s> ${{d.discountPrice}}</span>
          </div>

        </mat-card>
      </a>

    </div>

  </div>

  <!-- Brand -->

  <div style="background-color:white; padding:15px;" fxLayout="column" fxLayoutAlign="center stretch"
    fxLayoutGap="10px">

    <span fxLayoutAlign="center center">
      <h3>Popular Brands</h3>
    </span>
    <div fxLayout="row center" fxLayoutAlign="space-evenly" [ngStyle.gt-sm]="{'width.%': 80, 'align-self': 'center'}">
      <a *ngFor="let b of stateSession.application.brands" [routerLink]="[b.link]">
        <mat-card fxLayout="column" fxLayoutAlign="center" fxFlex="1 1 130px"
          style="padding:0;background: #fafafa;margin:10px">
          <div style="text-align: center;margin: 5px;">
            <img src="{{b.image}}" style="height: 80px; width: auto; max-width: 125px;" alt="apple">
          </div>
          <span style="text-align: center;font-weight: bold;margin: 10px;"> {{b.title}} </span>
          <a [routerLink]="[b.link]"> </a>

        </mat-card>
      </a>
    </div>

  </div>




</div>