
    <div fxLayout="column" fxFlex="100"  
    fxLayout="column"
    fxLayoutAlign="center center" fxFlex="100" >
          <!-- <img src="assets/images/onlytopdeals.png"  [ngStyle.xs]="{'width.vw': 80}" [ngStyle.gt-xs]="{'width.vw': 33}"/> -->
  
            <mat-toolbar fxLayoutAlign="center center" style="width: 80vw;background: none"><h1> About Us </h1></mat-toolbar>
  
            <mat-card class="example-card" fxLayoutAlign="center center"  [ngStyle]="{'width.vw': 80}" >
  
              <mat-card-content>
                <p>
                    When we created this website, we really thought hard about whether ‘Only Top Deals’ (OTD),
                    really required an ‘About Us’ Page. Because here, we are thinking, we have a baller name for our
                    company that is as self-explanatory as a business name can be. Still uncertain? Don’t worry it’s
                    for people like you that this page was created, so read on...
                </p>
                <p>
                    OTD is exactly what it sounds like! Top deals curated for any given product, e.g. earbuds. How
                    did we decide what products deserve to be on our list? It’s simple - based on factors such as
                    price, quality, worth, popularity, and reviews. OTD is truly based on products not brands – just
                    because something is from ‘ABC’, it will not automatically receive a spot on our list.
                    When exploring OTD, you will see we are not biased to any one company, brand or vendor. OTD
                    is for customers seeking a true immersive shopping experience – for customers that care for the
                    product over the logo they carry.
                </p>
                <p>
                    Please contact us with any feedback or suggestion you may have to improve OTD - we’d love to
                    hear from you! Lastly, if you found value in OTD today, please do share it with your family and
                    friends to help us grow.
                </p>
                <p>
                    Disclaimer: OTD is not responsible for any incorrect or misrepresentation of information on
                    products. Data collected is not validated, just amalgamated. For any product/order issues,
                    returns, etc. please directly contact the vendor; OTD is in no way responsible or related to the
                    vendors. We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising
                     program designed to provide a means for us to earn fees by linking to Amazon.com
                     and affiliated sites.
                    <!-- <a href="https://www.onlytopdeals.com">OnlyTopDeals</a> -->
                </p>
    
  
              </mat-card-content>
            </mat-card>
    </div>

  