<mat-card *ngIf="product" style="padding: 10px; margin: 5px; width: 100%" fxLayout="row"  fxLayoutAlign="start" [ngStyle]="{'background-color': (stateSearch.product$|async) == product.title ? '#f0f0f0' : 'white' }"  >
   
    <mat-card-header fxLayoutAlign="start stretch" style="width:100%" >
         
          <mat-card-title fxLayout="row"   >
            <!-- <div class="ranking">#{{rank+1}}</div> -->
            <span (click)="detail()" style="align-self: center;padding-left: 5px;margin:5px;" fxFlex="95">
             <span style="font-weight: bolder">{{rank+1}}.</span> {{product.brand}} {{product.title}}  
             </span>
            
            <button mat-icon-button (click)="addCompare()" style="padding:0;"  >
                <!-- Compare -->
              <!-- [ngStyle]="{'background-color':product.isCompare ? 'lightcyan' : 'white' }"-->
                <fa-icon style="font-size: small"  *ngIf="!product.isCompare"  [icon]="['fas', 'plus']"></fa-icon> 
                <fa-icon style="font-size: small"  *ngIf="product.isCompare" [icon]="['fas', 'minus']"></fa-icon> 
             </button>
          </mat-card-title>
          <mat-card-subtitle fxLayout="row" (click)="detail()">
              <div style="width: 140px; height:50px;text-align: center;margin: auto;">
              <img style="max-width:100%;
              max-height:100%;" [src]="product.picture">
            </div>
              <div style="padding-left: 10px;">
                {{ (product.description.length>100)? (product.description | slice:0:100)+'..':(product.description) }}
              </div>
             
          </mat-card-subtitle>
          <mat-card-subtitle (click)="detail()"  fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 0px;" >
              <div  style="width: 50%;padding-top: 15px;" fxLayoutAlign="start stretch">
                <star-rating             
                starType="svg" [rating]="product.avgRating" size="medium"  [readOnly]="true" [showHalfStars]="true"></star-rating>
              <div style=" align-self: center;padding-bottom: 4px;color:black;"> <b>{{product.avgRating | number : '1.1-1' }}</b> </div>
              </div> 
              <span style="align-self: center;text-align: center;align-items: center;width:50%;padding-top:15px" fxLayout="row" fxLayoutAlign="end center" 
              >
                  <s *ngIf="product.price[(stateSession.country$| async)?.code] > 0" 
                      style="font-weight: 500;font-size: small;"
                    >
                       {{(stateSession.country$| async)?.currencySymbol + (product.price[(stateSession.country$| async)?.code] | number : '1.2-2')}}
   
                  </s>  &nbsp;
                  <span *ngIf="product.discountPrice && product.discountPrice[(stateSession.country$| async)?.code] > 0"
                      style="font-weight: bold;color:black;font-size: medium; ">
                      {{(stateSession.country$| async)?.currencySymbol + (product.discountPrice[(stateSession.country$| async)?.code] | number : '1.2-2')}}
                   
                  </span>               
                   <!-- <div style="font-size:10px">{{d.currency}}</div> -->
                </span>
          
           </mat-card-subtitle>
        </mat-card-header>

  </mat-card>
