<form [formGroup]="videoFormGroup" (ngSubmit)="submitForm()">
    <mat-card-title fxLayoutAlign="center"> Add Video </mat-card-title>
          <mat-card>  
                <div fxLayout="column">                           
                      
                      <mat-form-field>
                          <input matInput placeholder="Youtube Video Link" formControlName="link" required>
                      </mat-form-field>
                  
                  </div>
           </mat-card>     
      <div style="padding-top:10px" fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button  mat-dialog-close >Cancel</button>
        <button mat-raised-button style="background: rgb(0, 125, 184);color: white" type="submit" [disabled]="!videoFormGroup.valid" >Submit</button>
      </div>
    </form>
