<mat-card [ngStyle]="{'display': stateSearch.searchResult ? 'none' : 'block' }">
  <div class="ui placeholder">
    <div class="image header">
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="paragraph">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="paragraph">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="paragraph">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</mat-card>

<mat-card class="detail" style="background-color:lightcyan;"
  *ngIf="stateSearch.selectedProduct && stateSearch.compareProducts.length< 2">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div style="padding-bottom:10px;font-size: smaller;"><a routerLink="/">Home </a> / <a
        routerLink="/search/{{stateSearch.category$ | async}}">{{stateSearch.category$ | async}}</a> /
      {{stateSearch.selectedProduct?.title}}</div>
    <button style="line-height: 0px;height: 0px;" mat-icon-button fxHide.gt-xs
      routerLink="/search/{{stateSearch.category$ | async}}">
      <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
    </button>
  </div>
  <mat-card-header style="width: 100%;">
    <img mat-card-avatar [src]="stateSearch.selectedProduct.picture">
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <h4 style="margin:0"> {{stateSearch.selectedProduct.brand}} {{stateSearch.selectedProduct.title}}
          &nbsp;&nbsp;({{(stateSession.country$| async)?.currencySymbol}}{{stateSearch.selectedProduct.price}}
          {{(stateSession.country$| async)?.currency }})
          &nbsp;
          <span *ngIf="stateSession.isLoggedin$|async">
            <button *ngIf="!stateSearch.selectedProduct.isSelected" mat-icon-button (click)="save()">
              <fa-icon [icon]="['far', 'bookmark']"></fa-icon>
            </button>
            <button *ngIf="stateSearch.selectedProduct.isSelected" mat-icon-button (click)="unsave()">
              <fa-icon [icon]="['fas', 'bookmark']"></fa-icon>
            </button>
          </span>
        </h4>

      </div>
    </mat-card-title>
    <mat-card-subtitle style="margin-top:-10px">{{stateSearch.selectedProduct.description}}</mat-card-subtitle>

  </mat-card-header>
  <mat-card-subtitle fxLayout="row" fxLayoutAlign="center stretch">

    <star-rating starType="svg" [rating]="stateSearch.selectedProduct?.avgRating" size="medium" [readOnly]="true"
      [showHalfStars]="true"></star-rating>
    <div style=" align-self: center;font-size: large;"> {{stateSearch.selectedProduct?.avgRating}} </div>

  </mat-card-subtitle>

  <mat-card-content>
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onSequenceChangeEvent($event)">
      <mat-tab label="Deals">
        <ng-template matTabContent>
          <app-deal></app-deal>
        </ng-template>
      </mat-tab>
      <mat-tab label="Features">
        <ng-template matTabContent>
          <app-feature></app-feature>
        </ng-template>
      </mat-tab>
      <mat-tab label="Reviews">
        <ng-template matTabContent>
          <app-review></app-review>
        </ng-template>
      </mat-tab>
      <mat-tab label="Images">
        <ng-template matTabContent>
          <app-image></app-image>
        </ng-template>
      </mat-tab>


    </mat-tab-group>


  </mat-card-content>

</mat-card>