<div class="tab-content">
  <div *ngIf="(stateSearch.tab$ | async) != 'Overview'" fxLayout="row" fxLayoutAlign="space-between" style="background:white">
    <div>
      <button mat-stroked-button [matMenuTriggerFor]="menu">
        <span></span> &nbsp;<b style="padding-right: 5px">{{sortBy | titlecase}}</b>
        <fa-icon style="font-size: small;" [icon]="['fas', 'sort']"></fa-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="sort('price')">Price</button>
        <button mat-menu-item (click)="sort('store')">Store</button>
        <button mat-menu-item (click)="sort('dateTime')">Date</button>
      </mat-menu>
    </div>
    <div> <button mat-stroked-button (click)="addDeal()">
        <fa-icon style="font-size: small;" [icon]="['fas', 'plus']"></fa-icon>&nbsp;<b>Deal</b>
      </button></div>

  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 10px">
    <mat-card *ngFor="let element of stateSearch.selectedProduct.deals | sort: sortBy  | slice:0:((stateSearch.tab$ | async) != 'Overview'?20:2 ); let i = index"
      style="background: white; margin:5px" [ngStyle.xs]="{'width.%': 80}" [ngStyle.gt-xs]="{'width.px': 200}">
      <mat-card-content class="content-list" fxLayout="column" fxLayoutAlign="center center" style="margin-bottom: 0px">
        <div style="position:absolute;top:0px; right:0px;padding:10px;" [matMenuTriggerFor]="menu">
          <fa-icon class="only-show-on-hover" [icon]="['fas', 'ellipsis-v']"></fa-icon>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goToLink(element.link)">Open</button>
          <button mat-menu-item (click)="report(element)">Report It</button>
          <button mat-menu-item (click)="delete(element)" *ngIf="stateSession.isAdmin$|async">Delete</button>
        </mat-menu>
        <div style="width:100px;text-align: center;font-size: large;color: darkgray;font-weight: bold;">
            <img alt="{{element.store | titlecase}}" style="max-width: 100%;height:35px" src="assets/business/{{element.store.toLowerCase()}}.png"
            onerror="this.parentElement.style.padding='10px 0'; this.parentElement.innerHTML = this.alt; "
            >
       
        </div>
        
        <div style="font-size: x-large;font-weight: bold;padding-top: 5px;">
          <div *ngIf="((element.price/stateSearch.selectedProduct.price[(stateSession.country$| async)?.code])*100) != 100">
            {{100 - ((element.price/stateSearch.selectedProduct.price[(stateSession.country$| async)?.code])*100) | number:'1.0-0'}}%
            Off
          </div>
          <div *ngIf="((element.price/stateSearch.selectedProduct.price[(stateSession.country$| async)?.code])*100) == 100">
           No Offer
          </div>
          <!-- <div style="font-size: small;font-weight: 900;">OFF</div> -->
        </div>
         <div style="margin: 5px"> <s *ngIf="((element.price/stateSearch.selectedProduct.price[(stateSession.country$| async)?.code])*100) != 100">{{(stateSession.country$| async)?.currencySymbol }}{{stateSearch.selectedProduct.price[(stateSession.country$| async)?.code]}}</s> &nbsp;<b style="font-size: medium;">{{(stateSession.country$| async)?.currencySymbol }}{{element.price}}</b> {{(stateSession.country$| async)?.currency }}  &nbsp;  </div> 
        <a rel="noopener noreferrer" style="margin: 10px; color:white; background: linear-gradient(to bottom,#6ea204,#499b1e); font-weight: bold;"
          mat-raised-button href="{{element.link}}" target="_blank">
          <!-- {{(stateSession.country$| async)?.currencySymbol }}{{element.price}} at  -->
          <!-- {{element.store | titlecase}} -->
          Buy at {{element.store | titlecase}} 
        </a>
      </mat-card-content>
      <mat-card-actions style="padding: 5px 10px; background: #d3d3d34d; margin: 0;">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="row">
            <!-- <img mat-card-avatar style="width: 30px;background-size: cover;border-radius: 50%;margin-right: 10px;"
              src="{{element.userPicture}}"> -->
            <div>
              <!-- <div>{{element.userName | titlecase}} </div> -->
              <div style="font-size: xx-small;">Updated On:  </div>
              <div>{{element.dateTime.seconds*1000 | date}} </div>
            </div>
          </div>
          <div fxLayout="row" style="width: 90px;" fxLayoutAlign="space-between center">
            <div>
              <fa-icon *ngIf="user && element.review?.liked.indexOf(user.id) >= 0" [icon]="['fas', 'thumbs-up']">
              </fa-icon>
              <fa-icon *ngIf="user && element.review?.liked.indexOf(user.id) == -1" (click)="liked(i)"
                [icon]="['far', 'thumbs-up']" style="cursor: pointer;"></fa-icon>
              <fa-icon (click)="stateSession.login()" *ngIf="!user" [icon]="['far', 'thumbs-up']"></fa-icon>
              {{element.review?.liked.length}}
            </div>
            <div>
              <fa-icon *ngIf="user && element.review?.unliked.indexOf(user.id) >= 0" [icon]="['fas', 'thumbs-down']">
              </fa-icon>
              <fa-icon *ngIf="user && element.review?.unliked.indexOf(user.id) == -1" (click)="unliked(i)"
                [icon]="['far', 'thumbs-down']" style="cursor: pointer;"></fa-icon>
              <fa-icon (click)="stateSession.login()" *ngIf="!user" [icon]="['far', 'thumbs-down']"></fa-icon>
              {{element.review?.unliked.length}}
            </div>
          </div>
        </div>

      </mat-card-actions>
    </mat-card>
    <div *ngIf="!stateSearch.selectedProduct.deals" fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 10px">
    <div  class="ui card" *ngFor="let i of [1,2,3,4]" style="margin:5px; width: 200px"  >
      <div class="content">
        <div class="ui placeholder">
          <div class="rectangular image"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>