<form [formGroup]="dealFormGroup" (ngSubmit)="submitForm()">
    <mat-card-title fxLayoutAlign="center"> Deal </mat-card-title>
          <mat-card>  
                <div fxLayout="column">
                       <mat-menu #menu="matMenu">
                          <button fxLayout="row" style="line-height: 35px" mat-menu-item (click)="changeCountry(cnt)" *ngFor="let cnt of stateSession.countries" >
                           <img src="{{cnt.image}}" style="margin-right: 5px;"> <div>{{cnt.name}} </div> 
                          </button>   
                        </mat-menu>
                    <mat-form-field>
                        <textarea matInput placeholder="Deal Link" type="url" formControlName="link" required></textarea>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Price" type="number" formControlName="price" required>
                        <span matPrefix>{{(stateSession.country$| async)?.currencySymbol }}&nbsp;</span>
                        <span matSuffix [matMenuTriggerFor]="menu">{{(stateSession.country$| async)?.currency }}
                            <fa-icon [icon]="['fas', 'angle-down']"></fa-icon> 
                        </span>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Store" formControlName="store" required>
                      </mat-form-field>
                  </div>
           </mat-card>     
      <div style="padding-top:10px" fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button  mat-dialog-close >Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!dealFormGroup.valid" >Submit</button>
      </div>
    </form>

